# OS X files #
######################
.DS_Store
thumbs.db

# Node modules #
######################
node_modules/

# Output folder #
######################
build/

# Tempory folder #
######################
.tmp/

# Logs #
######################
*.log
